/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #4169e1;
  --ifm-color-primary-dark: #2855dd;
  --ifm-color-primary-darker: #224ed5;
  --ifm-color-primary-darkest: #1c41af;
  --ifm-color-primary-light: #5a7de5;
  --ifm-color-primary-lighter: #6787e7;
  --ifm-color-primary-lightest: #8ca4ed;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #4d8699;
  --ifm-color-primary-dark: #45798a;
  --ifm-color-primary-darker: #417282;
  --ifm-color-primary-darkest: #365e6b;
  --ifm-color-primary-light: #5593a8;
  --ifm-color-primary-lighter: #5c99ad;
  --ifm-color-primary-lightest: #73a7b8;
}
